body {
	font-family:Arial;
	background:#151515;
	color:#FFF;
	font-size:0.75rem;

}

section{
	padding:2rem;
}

h1,h2,h3 {
	color:#FFF;
	margin:1rem 0rem;
}

span {
	color:#39c;
}

a,
a:visited {
	color:#F90;
}

a.button {
	background:#F90;
	color:#FFF;	
}

a.large.button {
	background:#39c;
	border-bottom:10px solid #17A;
}

div.grid {
	background:#FFF;
	color:#666;
	margin:0;
	padding:3rem 1rem; 
}

div.grid h3 {
	color:#666;
	margin:0;
}

ul {
	padding:1rem 0;
	list-style: none;
	list-style-position:outside;
}

ul li {
	margin-bottom:0.5rem;
}


