[submodule "lib/jivejs"]
	path = lib/jivejs
	url = git://github.com/maxatbrs/JiveJS.git
[submodule "lib/cardinal"]
	path = lib/cardinal
	url = git://github.com/cbracco/cardinal.git
[submodule "lib/twig"]
	path = lib/twig
	url = git://github.com/cbracco/cardinal.git
[submodule "lib/modernizr"]
	path = lib/modernizr
	url = git://github.com/Modernizr/Modernizr.git
