/* Global CSS 
 * 
 * Application wide styles
 *
*/

body {
	font-family:Arial;
}

.block {
	margin-bottom:2rem;
}

/* 404 */
.Error404 {
	
}

/* Content Block */
.block-content {
    padding:2rem 0;
}

/* Splash Block */
.block-splash {
    width:100%;
   
    padding:4rem 0;
    background:#39C;
    color:#FFF;
}

.block-splash h1,
.block-splash p {
    margin:0;
    color:#FFF;
    font-weight: normal;
}

.block-splash .button {
    margin-top:2rem;
    background: none;
    border:2px solid #FFF;
    border-radius: 5px;
    color:#FFF;
}

/* 3Column Block */
.block-3Column {

} 

/* Instagram Block */
.block-instagram {

} 

.block-instagram .instagramPicture {
    position:relative;
    margin-bottom:1rem;
}

.block-instagram .instagramOverlay {
    position:absolute;
    padding:10px;
    background:rgba(0,0,0,0.7);
    color:#FFF;
    width:100%;
    bottom:0;
    left:0;
    right:0;
    font-size:12px;
}

.block-instagram i.fa-heart {
    color:#F00;
}

.block-instagram a {
    color:#FFF;
    text-decoration: none;
}

/* Youtube Block */
.block-youtube iframe {
    height: 300px;
}