<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt_ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt_ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="ClearType" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- DNS prefetch -->
        <link rel="dns-prefetch" href="//www.google-analytics.com">
		
		<!-- Title / Description -->
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		
		<!-- Modernizr -->
		<script type="text/javascript" src="/library/cardinal/js/vendor/modernizr-2.8.1.min.js{{ cachebust }}"> </script>
		
		<!-- Jive -->
		<script type="text/javascript" src="/library/jivejs/jquery-2.1.0.min.js{{ cachebust }}"> </script>
		<script type="text/javascript" src="/library/jivejs/jive.min.js{{ cachebust }}"> </script>
		<link rel="stylesheet" href="/library/jivejs/jive.css{{ cachebust }}" type="text/css" />
					
		<!-- Cardinal -->
		<link rel="stylesheet" href="/library/cardinal/css/main.css{{ cachebust }}" type="text/css" />

		<!-- Global CSS -->
		<link rel="stylesheet" href="/css/global.css{{ cachebust }}{{ cachebust }}" type="text/css" />

		{% block head %} {% endblock %}

	</head>

	<body>
		
		{% block nav %}
		<nav id="global"></nav>
		{% endblock %}	

		<div id="container">	
			{% block container %}{% endblock %}
		</div>

	</body>
	
</html>