<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt_ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt_ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="ClearType" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- DNS prefetch -->
        <link rel="dns-prefetch" href="//www.google-analytics.com">
		
		<!-- Title / Description -->
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">

		<script type="text/javascript" src="/library/jivejs/jquery-2.1.0.min.js{{ cachebust }}"> </script>
					
		<!-- Bootstrap -->
        <script type="text/javascript" src="/library/bootstrap/js/bootstrap.min.js{{ cachebust }}"> </script>
		<link rel="stylesheet" href="/library/bootstrap/css/bootstrap.min.css{{ cachebust }}" type="text/css" />
		
		<!-- Font Awesome -->
		<link rel="stylesheet" href="/library/font-awesome/css/font-awesome.min.css{{ cachebust }}" type="text/css" />

		<!-- Global CSS -->
		<link rel="stylesheet" href="/css/global.css{{ cachebust }}" type="text/css" />

		<script type="text/javascript" src="/js/example.js{{ cachebust }}"> </script>

        <!-- View Dependencies -->
		{% block head %} {% endblock %}

	</head>

	<body>
		
		<div class="row">

			<div class="col-xs-2">

				<nav id="global">
		        
		        	<a class="block" data-block="jumbotron"><i class="fa fa-2x fa-cube"></i> Hero</a>
		        	<a class="block" data-block="tumblr"><i class="fa fa-2x fa-tumblr"></i> Tumblr</a>
		        	<a class="block" data-block="youtube"><i class="fa fa-2x fa-youtube"></i> Youtube</a>
		        	<a class="block" data-block="instagram"><i class="fa fa-2x fa-instagram"></i> Instagram</a>
		 
		        </nav>

	        </div>

	        <div class="col-xs-10">
	        	{% block container %}{% endblock %}
	        </div>

        </div>

		<div id="block-templates">

			{% include "Jumbotron.html" %}

			{% include "Tumblr.html" %}

			{% include "Youtube.html" %}

			{% include "Instagram.html" %}
			
		</div>

	</body>
	
</html>
