<div id="splash" class="slideshow" data-autostart="false" data-transition_interval="10" data-slide_duration="7">
	
	<div class="slide" style="background:url('https://lh3.googleusercontent.com/-UbmoLVYWHxA/VErALsc_DRI/AAAAAAAAVCA/CGCN1dqeUuQ/w2500-h800-no/mvxbg.jpg') no-repeat center center;">
					
		<h1>M<span>V</span>X</h1>
	
		
	</div>
	
	<div class="slide" style="background:url('https://lh3.googleusercontent.com/-UbmoLVYWHxA/VErALsc_DRI/AAAAAAAAVCA/CGCN1dqeUuQ/w2500-h800-no/mvxbg.jpg') no-repeat center center;">
		
		<h1>ART</h1>
		<p>Trickle Down Economics in stores now!</p>
		
	</div>

</div> 