/* Global CSS 
 * 
 * Application wide styles
 *
*/

body {
	font-family:Arial;
}

/* Splash Block */

.block-splash .container {
	color:#FFF;
}

.block-splash .container .btn-default {
	background: transparent;
	border:2px solid #FFF;
	color:#FFF;
}

.block-splash .container .btn-default:hover {
	background: #FFF;
	color:#000;
}

/* 3 Column Block */

.block-3column .text-content {
	border:1px solid #eee;
	border-radius: 5px;
	margin:1rem;
	padding:2rem;
}
