body {
	font-family:Arial;

	font-size:0.75rem;
}

.Error404 {
	text-align: center;
}

section{
	padding:2rem;
}

span {
	color:#39c;
}

section h1 {
	margin:0;
	padding:0;
	font-size:2rem;
}

section {
	border-top:1px dashed #EEE;
	border-bottom:1px dashed #EEE;
}

section + section {
	border-top:none;
}


div.grid {
	padding:2rem; 
}

div.grid h3 {
	color:#666;
	margin:0;
}

ul {
	padding:1rem 0;
	list-style: none;
	list-style-position:outside;
}

ul li {
	margin-bottom:0.5rem;
}


