/* Global CSS 
 * 
 * Application wide styles
 *
*/

body {
	font-family:Arial;
}

.Error404 {
	text-align: center;
}

nav#global {
    position: fixed;
    padding:1rem;
    background:rgba(0,0,0,0.75);
}

nav#global a {
    color:#FFF;
    display: block;
    padding:1rem;
    border:1px solid rgba(0,0,0,0);
}

nav#global a:hover {
    border:1px solid #FFF;
    border-radius: 5px;
    text-decoration: none;
}

nav#global a i  {
    vertical-align: middle;
    margin-right:5px;
}