{% extends "Global.html" %}

{% block container %}
<section>
	
	<h1>gus<br/> <i>another php</i> framework</h1>
	
	
	<p> <b>Seriously though, gus is</b> easy to read, fun to write, and tantalizingly fast</p> 
	
	<h3>What's the deal man?</h3>
	
	<p>Gus was born out of frustration with the way current web apps are being built. 
		Some are incredibly complex, robust, do-it-all systems that have a steep learning curve. 
		Some are so bleeding edge and cool that if you get a weird bug, it's recommended to
		start looking into the legacy google group forums dude.
	</p>
	
	<h3>Gus, the underdog</h3>
	
	<p>Gus gets back to the roots by using a <b>traditional PHP server architecture</b> and an incredibly easy template system called 
	<a href="http://twig.sensiolabs.org/" target="__blank">Twig</a>.
	Additionally, Gus comes pre-packed with some industry standard client libraries like Twitter Bootstap and Modernizr, making 
	client side development a breeze. 
	</p>
	
	
</section>
{% endblock %}
