{% extends "Global.html" %}

{% block container %}
<section>

	<h1>GUS</h1>
	<p>The web app kickstarter</p>
		
	<h2>Throw me a bone: why do we need Gus?</h2>
		
	<p>Building web apps sucks and we <b>needed something better.</b> We wanted an app that was
	easy to read, fun to write, and provided the best performance.</p>
	
	<ul>
		<li>PHP driven (as in the easiest way possible)</li>
		<li>Templated with Twig</li>
		<li>Route-controller based</li>
		<li>Has All the whiz-bang js + css libs out there like jive, bootstrap, and modernizr</li>
	</ul>
	
	<h2>Treaching an old dog new tricks</h2>
	
	<p>Gus is simple: it's all based off of the route/controller practice. You have URLS or <i>routes</i> like <i>/about</i> or <i>/dashabord</i> ,that you want specfic logic or
	<i>controllers</i> behind them.</p>
	
	<p>By writing a controller and placing it in the <i>/controller</i> directory, gus automatically starts routing to that controller. If a template is named the same as the controller, it
	will be the route-specific template displayed. </p>
	
	<h3>What does this mean? </h3>
	
	<p>Sally wants users to go to <i>/groceries</i> and see a list of groceries. She wants to set up the <i>/groceries route</i>. She would write the logic for that route @ controller/groceries.php </i>. 
	<i>Hint hint, look at the route and the controller	name.</i></p>
	
	<h3>Okay, so then how do we use templates?</h3>
	
	<p>Sally needs to display the items in a template. She writes a template named the same exact thing in /templates, called groceries.html. This is used as the route template and it always
	extends a global.html template</p>
	
	<h2>Libraries!</h2>
	
	<p>The <i>/lib</i> is where all 3rd party libraries go. If you want to integrate things like database object interaction, mailer wrappers, or CSS frameworks, this is the place to do it.</p>
	
	<h2>But what if I want to do xyz</h2>
	
	<p>Gus wants you to have freedom. This is just a jump of point for web applications, so if you want to do xyz, then skies the limit.</p> 
	
	<h2>Install that puppy</h2>
	
	<p><a href="https://github.com/maxatbrs/gus" target="_blank">Git It Bro!</a> and then:</p>
	<ul>
		<li>Update <i>config.ini</i> in the root directory to match your server's absolute path for the application</li>
		<li>Make sure that templates/cache/ is writeable by apache (or the like)</li>
		<li>Make sure .htaccess is in the root directory and that apache is correctly configured to use mod_rewrites</li>
		<li>Rage n3wbs</li>
	</ul>
	

</section>
{% endblock %}