{% block head %}
<script type="text/javascript" src="/js/example.js{{ cachebust }}"> </script>
{% endblock %}

<nav id="global">
		        
	<a class="block" data-block="splash"><i class="fa fa-2x fa-desktop"></i> Splash</a>
	<a class="block" data-block="tumblr"><i class="fa fa-2x fa-tumblr"></i> Tumblr</a>
	<a class="block" data-block="youtube"><i class="fa fa-2x fa-youtube"></i> Youtube</a>
	<a class="block" data-block="instagram"><i class="fa fa-2x fa-instagram"></i> Instagram</a>

</nav>

<div id="block-templates">

	{% include "Splash.html" %}

	{% include "Tumblr.html" %}

	{% include "Youtube.html" %}

	{% include "Instagram.html" %}
	
</div>

